*{
    margin: 0;
    padding: 0;
  }

/*==================================
=========TGbusiness-header==========
==================================*/

#tgbusiness-header img{
  width: 90px;
  position:relative;
  top:-850px;
  left:300px;
}

#tgbusiness-header li {
  display:inline;
  text-decoration:none;
  padding:20px;
}

#tgbusiness-header a{
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-decoration:none;
  color:white;
  position:relative;
  top:-887px;
  left:1000px;
}

/*==========================
=========TGbusiness=========
==========================*/

#tgbusiness{
  position:absolute;
  z-index: 1;
}
#tgbusiness-left{
    width: 50%;
    float: left;
    position: relative;
    top: -800px;
    right: -300px;
    color: white;
}
#tgbusiness-left h1{
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  border-style: none;
  width:500px;
  line-height:1.5   /* giãn dòng*/
}

#tgbusiness-left h3{
  font-family: 'Kanit', sans-serif;
  border-style: none;
  width:440px;
  color: #798EBD;
  line-height:1.5;
}

#tgbusiness-left .tgbusiness-question{
  vertical-align: middle;
}

#tgbusiness-left span{
  font-family: 'Roboto', sans-serif;
    font-size: 17px;
  }

  #tgbusiness-left a{
    color: white;
    border-style: solid;
    border-color: white; 
    padding: 15px 45px 15px 45px;
    font-size:18px;
    font-family: 'Kanit', sans-serif;
    position:relative;
    top:50px;
    text-decoration: none
  }

#tgbusiness-right{
  width: 50%;
  float: left;
  position: relative;
  top: -790px;
  right: 300px;
}

/*==========================
=========TGreason===========
==========================*/

#tgreason{
  padding-top: 950px;
  position:absolute;
  background-color: rgb(251, 253, 255);
  height:1850px;
  width: 2000px;
}

#tgreason #tgreason-text{
  text-align: center;
}

#tgreason #tgreason-text img{
  margin-left:-650px;
  width:100px;
}

#tgreason #tgreason-text h2{
  font-family: 'Roboto', sans-serif;
  margin-top:-45px;
  padding-left:70px;
  font-weight:bold;
  color: #0C204C;
}

#tgreason #tgreason-text-content{
  font-family: 'Roboto', sans-serif;
  text-align:center;
  font-size:16px;
  margin-top:50px;
  margin-left:430px;
  border-style:none;
  width:1050px;
  color: #46505D;
}

#tgreason #tgreason-left{
  width:45%;
  float:left;
  position:relative;
  padding-left:300px;
  padding-top:30px; 
  top: 50px
}

#tgreason #tgreason-right{
  width:36%;
  float: left;
  position:relative;
  margin-left:50px;
  padding-left:30px;
  padding-top:30px; 
  top: 50px;
  box-shadow:1px 3px 15px lightgray;
  background-color: white;
}

#tgreason #tgreason-content #tgreason-left #tgreason-title-left{
  font-family: 'Roboto', sans-serif;
  font-size:25px;
  font-weight:bold;
  color: #46505D;
}

#tgreason #tgreason-content #tgreason-right #tgreason-title-right{
  font-family: 'Roboto', sans-serif;
  font-size:25px;
  font-weight:bold;
  color: #3197FF;
}

#tgreason .icon{
  width: 30px;
}

#tgreason span{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #46505D;
  line-height: 5.0;         /* giãn dòng */
}


/*===========================
=========TGcontent===========
===========================*/

#tgcontent{
  padding-top: 1900px;
  width: 2000px;
}

#tgcontent-overall{
  padding-bottom:100px;
}

#tgcontent-left{
  width: 50%;
  float: left;
}

#tgcontent-right{
  width: 50%;
  float: left;
  padding-left: 50px;
}

#tgcontent h2{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #062466;
  text-align: center;
  margin-bottom: 50px;
}

#tgcontent-left img{
  width: 430px;
  margin-left: 440px;
}

#tgcontent .tgcontent-icon{
  width:50px;
}

#tgcontent #tgcontent-right span{
  font-family: 'Roboto', sans-serif;
  font-size:17px;
  font-weight: 700;
  color: #0C204C;
}

#tgcontent #tgcontent-right p{
  font-family: 'Roboto', sans-serif;
  font-size:17px;
  color: #46505D;
  margin-left:59px;
  border-style:none;
  width:500px;
}

/*========================
=========TGtopic==========
========================*/

#tgtopic{
  position: absolute;
  width: 2000px;
}

#tgtopic img{
  position: relative;
  top: 450px;
}

#tgtopic #tgtopic-text img{
  margin-left:650px;
  width:100px;
  top: -300px;
}

#tgtopic #tgtopic-text h2{
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  color: #FFFFFF;
  position: relative;
  top:-349px;
  left: 790px;
}

#tgtopic #tgtopic-text-content{
  font-family: 'Roboto', sans-serif;
  text-align:center;
  font-size:17px;
  border-style:none;
  width:700px;
  color: #eaeaea;
  position: relative;
  top:-330px;
  left: 700px;
}

.card-group{
  width: 75%;
  margin-top: -270px;
  margin-left:auto;
  margin-right:auto;
  }

.card{
  margin:50px;
}

.card-body{
  text-align:center;
}

.card-body a{
  font-family: 'Roboto', sans-serif;
  color: #3197FF;
}

.card .card-title{
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  font-size:18px;
  color:#062466;
}

.card .card-text{
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  color:#46505D;
  letter-spacing:1px;
}

.card-img-top{
  height:200px;
}





/*========================
=========TGfunction=======
========================*/

#tgfunction{
  margin-top: 1255px;
  padding-bottom: 80px;
  width: 2000px;
  position: absolute;
  text-align: center;
}

#tgfunction h2{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #062466;
  text-align: center;
  padding-top: 70px;
}

#tgfunction #tgfunction-top{
  position: relative;
  top: 50px;
}

#tgfunction #tgfunction-bottom{
  position: relative;
  top:45px;
}

#tgfunction #tgfunction-top #tgfunction-top-item1{
  float:left;
  width:33%;
  padding:50px 30px 90px 30px;
}

#tgfunction #tgfunction-top #tgfunction-top-item2{
  float:left;
  width:33%;
  padding:50px 30px 90px 30px;
}

#tgfunction #tgfunction-top #tgfunction-top-item3{
   float:left;
   width:33%;
   padding:50px 30px 90px 30px;
}

#tgfunction #tgfunction-bottom #tgfunction-bottom-item1{
  float:left;
  width:33%;
  padding:50px 30px 90px 30px;
}

#tgfunction #tgfunction-bottom #tgfunction-bottom-item2{
  float:left;
  width:33%;
  padding:50px 30px 90px 30px;
}
#tgfunction #tgfunction-bottom #tgfunction-bottom-item3{
  float:left;
  width:33%;
  padding:50px 30px 90px 30px;
}

#tgfunction p{
  font-family: 'Roboto', sans-serif;
  font-size:18px;
  color:#46505D;
  margin-top:50px;
}

#tgfunction img{
  width:100px;
}

#tgfunction .tgfunction-button{
  margin-top:50px;
  padding:20px 40px;
  font-family: 'Roboto', sans-serif;
  font-size:16px;
  font-weight:500;
  background-image: linear-gradient(to right, rgb(52, 134, 215), rgb(89, 166, 244));
  border-style:none;
 }




/*=======================
=========TGimage=========
=======================*/

#tgimage{
  background-color:#F4F8FD;
  margin-top: 2280px;
  padding-bottom: 80px;
  width: 2000px;
  height: 630px;
  position: absolute;
  text-align: center;
}

 #tgimage h2{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #062466;
  text-align: center;
  padding-top: 50px;
}

#tgimage #tgimage-carousel{
  margin-top:100px;
  height: 400px;
}

#tgimage #tgimage-img1, #tgimage-img2{
  float:left;
  width:50%;
  filter:brightness(40%);
}

#tgimage #tgimage-img3{
  position:relative;
  top:-325px;
  height:370px;
}


/*=============================
=========TGimage-brand=========
=============================*/

#tgimage-brand{
  margin-top: 2910px;
  width: 2000px;
  height: 520px;
  text-align: center;
}

#tgimage-brand img{
  margin-top:100px;
}



/*======================
=========footer=========
======================*/

#footer{
  width:80%;
  margin-right:auto;
  margin-left:auto;
  background-color: #F2F2F2;
  height: 550px;
}

#footer-icon img{
  width:110px;
  margin-top: 40px; 
  margin-bottom:10px;
}

#footer-tg-connect, #footer-tg-info, #footer-tg-about, #footer-tg-download, #footer-tg-fanpage{
  float:left;
  width:20%;
}

#footer-content h6{
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  font-size:17px;
  margin-bottom: 30px;
  margin-top: 30px;
}

#footer-tg-connect img{
  width:50px;
  margin-bottom: 40px;
}

#footer-tg-info p, #footer-tg-about p{
  line-height: 1.0;
  font-family: 'Roboto', sans-serif;
}

#footer-tg-fanpage #tg{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size:13px;
  font-weight:500;
  letter-spacing: 1px;
  position: relative; 
  top:-140px;
  left: 10px;
}

#likepage{
  border-style:none;
  width:90px;
  background-color:white;
  padding:0px 0px 3px 10px;
  position:relative;
  top:-80px;
  left:10px;
}

#likepage span{
  font-family: 'Roboto', sans-serif;
  font-size:12px;
  font-weight:bold;
}